/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
  list-style: none;
  margin: 0;
	padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body,html {
  font-family: 'sairaregular';
  font-size: 100%;
}
input:focus,a:focus,select:focus,textarea:focus {
  outline: none;
}
a {
  color: inherit;
  font-family: inherit;
}
a:hover,a:focus {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
select:focus,button:focus,a:focus,button:active,a:active {
  outline: none;
}
body,html {
  height: 100%;
  background: #eee;
}








.site_wrapper {
  display: flex;
}
aside.sidebar_sec {
  width: 20%;
  background: #15121a;
  height: 100vh;
  position: fixed;
}
.sidebar_sec h1 {
  text-align: center;
  margin: 0 0 20px;
  padding: 15px 0;
}
.sidebar_sec h1 a {
  display: inline-block;
  width: 163px;
  height: 54px;
  background: url('assets/images/logo.png') no-repeat 0 0;
  text-indent: -9999px;
}
.sidebar_sec nav {
  padding: 0 1.5em;
  color: #cdcdcd;
  font:1.2em 'sairaregular';
}
.sidebar_sec nav li a {
  padding: 0.6em 10px;
  display: block;
  border-bottom: 1px solid #252323;
  position: relative;
  overflow: hidden;
}
.sidebar_sec nav li a i {
  position: absolute;
  right: 0;
}
.sidebar_sec nav li a:hover {
  color: inherit;
}
.sidebar_sec nav .sub_menu {
  margin: 0 0 0 1.5em;
}
.site_cont_sec {
  width: 80%;
  margin: 0 0 0 20%;
}


header {
  background: #fff;
  border-bottom: 2px solid #ddd;
  position: fixed;
  left: 20%;
  width: 80%;
  z-index: 99;
}
.header_sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 4em 20px 10em;
}
.header_sec h3 {
  font-size: 2.2em;
}
.header_sec h3 {
  font-size: 2.2em;
}
.header_admin_btns {
  display: flex;
  align-items: center;
}
.header_admin_btns .update_prof {
  border: 1px solid #333;
  background: transparent;
  cursor: pointer;
  padding: 10px 2.5em;
  border-radius: 30px;
  margin: 0 2em;
  transition: all linear 0.3s;
}
.header_admin_btns .update_prof:hover {
  background: #333;
  color: #fff;
}


.header_admin_btns a {
  font-size: 1.8em;
}
.content_section {
  margin: 100px 0 0;
}
.content_wrap {
  width: 100%;
  max-width: 80%;
  margin: auto;
  position: relative;
}
.save_btn_wrap {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 20px;
}
.save_btn {
  background: #5fc3e5;
  border: 0;
  color: #fff;
  padding: 13px 2em;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
}
.content_row{
  display: flex;
  margin: 0 0 15px;
  flex-wrap: wrap;
}
.content_box {
  background: #fff;
  color: #333;
  padding: 25px;
  margin: 0 0 15px;
  font-size: 1.2em;
  position: relative;
}

.content_input {
  position: relative;
  margin: 0 0 5px;
}
.content_input input,
.content_input textarea,
.content_input select {
  width: 100%;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: 1px solid #333;
  width: 100%;
  font-size: 1rem;
  border-radius: 2px;
}
.content_input textarea {
  resize: none;
  height: 150px;
  line-height: 24px;
}
.content_input input.ng-invalid,
.content_input textarea.ng-invalid,
.content_input select.ng-invalid {
  border: 1px solid #f00;
  color: #f00;
}

.content_input select {
  padding: 0px 10px;
}
.content_error {
  color: #f00;
  font-size: 0.9rem;
}
.content_input_select i {
  position: absolute;
  right: 5px;
  top: 7px;
  pointer-events: none;
}


.content_box h3 {
  font-family: 'sairabold';
  margin: 0 0 20px;
}
.content_box ul li {
  margin: 0 0 10px;
}
.content_box p {
  line-height: 1.5em;
  margin: 0 0 30px;
}
.content_box .content_icon {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1.4em;
  border: 1px solid #333;
  border-radius: 50px;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 45px;
}

.full_height {
  height: 100%;
}
.no_margin {
  margin: 0 !important;
}
.content_box .content_btn {
  background: #5fc3e5;
  border: 0;
  color: #fff;
  padding: 13px 2em;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
}
.uploaded_img {
  width: 30%;
  margin: 0 0 10px;
  position: relative;
}
.uploaded_img_edit:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  left: 0;
  top: 0;
}
.uploaded_img .delete_img {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
}
.no_image {
  font-size: 4em;
}
.sm_box {
  text-align: center;
  padding: 50px 25px;
}
.sm_box a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background: #333;
  display: inline-block;
  border-radius: 50px;
}
.sm_box span {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.margin_space {
  margin: 0 0 30px;
}
.comp_share_box h3,
.comp_ibin_box h3 {
  margin: 0 0 15px;
}
.comp_share_box p,
.comp_ibin_box p {
  margin: 0 0 20px;
}
.comp_share_box .content_input {
  margin: 0 0 15px;
}

.add_member_sec {
  margin: 0 0 30px;
}
.group_input {
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 0 0 30px;
}
.group_input input[type="text"],
.group_input select {
  border: 0;
  background: transparent;
  width: 100%;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding: 0px 1em;
  font-size: 1rem;
  height: 42px;
  line-height: 42px;
}
.group_input .last_text input[type="text"] {
  border-bottom: 0;
}
.add_btn_sec {
  text-align: center;
}
.btn_blk {
  background: #333;
  border: 0;
  color: #fff;
  padding: 13px 2em;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
}

.content_box .member_list li {
  margin: 0 0 20px;
  padding: 0 0 15px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.content_box .member_list li:last-child {
  border-bottom: 0;
  margin: 0;
}
.member_list li h3 {
  margin: 0 0 5px;
}
.member_list li p {
  margin: 0 0 0;
}
.member_list li .member_edit {
  position: absolute;
  right: 0;
  top: 0;
  color: #1485ac;
}
.memImgWrap {
  max-width: 150px;
  margin: 0 0 15px;
}
.member_img_wrap {
  background: #15121a;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member_img_wrap .no_user {
  font-size: 10em;
  display: inline-block;
  color: #5fc3e5;
}
.member_img_wrap .user_img {
  width: 65%;
  display: inline-block;
}
.management_list {
  display: flex;
  flex-wrap: wrap;
}
.content_box .management_list li {
  width: 50%;
  margin: 0 0 20px;
}
.content_box .management_list li h3 {
  margin: 0 0 5px;
}
.content_box .management_list li p {
  margin: 0 0 0px;
}
.group_input .split_input {
  display: flex;
}
.group_input .split_input_text {
  position: relative;
}
.width_10 { width: 10%; }
.width_20 { width: 20%; }
.width_30 { width: 30%; }
.width_40 { width: 40%; }
.width_50 { width: 50%; }
.width_60 { width: 60%; }
.width_70 { width: 70%; }
.width_80 { width: 80%; }
.width_90 { width: 90%; }
.width_100 { width: 100%; }

.group_input .split_input .first_input input[type="text"],
.group_input .split_input .first_input select {
  border-right: 1px solid #ddd;
}
.group_input .split_input_text i {
  position: absolute;
  right: 10px;
  top: 10px;
}
.management_info_form .ng-dirty.ng-invalid {
  border-color: #f00;
  color: #f00;
}
.manage_profile_img {
  margin: 0 0 30px;
}
.member_action {
  position: absolute;
  top: 15px;
  right: 15px;
}
.member_action a {
  margin: 0 5px;
  color: #066d8c;
}
.financial_doc_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.financial_doc_box h3 {
  margin: 0 0 10px;
}
.financial_doc_box p {
  margin: 0 0 0;
}
.financial_doc_box .doc_action a {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 1px solid #333;
  margin: 0 5px;
  border-radius: 30px;
  text-align: center;
  line-height: 45px;
}
.upload_doc_sec {
  display: flex;
}
.upload_doc_btn {
  margin: 0 0 0 30px;
}
.content_box .upload_doc_btn .content_btn {
  padding: 13px 2em;
}

.modal_pop_up {
  position: fixed;
  z-index: 99;
  background: rgba(7, 5, 5, 0.95);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.modal_content {
  background: #fff;
  padding: 25px;
  max-width: 40%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  transition: all linear 0.5s;
}
.modal_content h3 {
  font: 2em 'sairaregular';
  margin: 0 0 15px;
}
.modal_content p {
  line-height: 1.5em;
  font-size: 1.1em;
  margin-bottom: 45px;
}
.modal_btn {
  display: flex;
  justify-content: center;
}
.modal_btn button {
	background: none;
	border: 1px solid #333;
	padding: 12px 3em;
	margin: 0 10px;
	border-radius: 2px;
  cursor: pointer;
  transition: all linear 1.5s;
}
.modal_btn button:hover {
	background: #333;
	color: #fff;
}
.modal_close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 1.3em;
}
.modalSlideUp {
  top: -100%;
}
.ripple {

}
.ripple {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
  background: #333;
}

@keyframes ripple {
  to {
      transform: scale(2.5);
      opacity: 0;
  }
}


.input_error {
  color: #f00;
  font-size: 0.8em;
  display: block;
}
