@font-face {
    font-family: 'sairabold';
    src: url('saira-bold-webfont.eot');
    src: url('saira-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('saira-bold-webfont.woff2') format('woff2'),
         url('saira-bold-webfont.woff') format('woff'),
         url('saira-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sairalight';
    src: url('saira-light-webfont.eot');
    src: url('saira-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('saira-light-webfont.woff2') format('woff2'),
         url('saira-light-webfont.woff') format('woff'),
         url('saira-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sairaregular';
    src: url('saira-regular-webfont.eot');
    src: url('saira-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('saira-regular-webfont.woff2') format('woff2'),
         url('saira-regular-webfont.woff') format('woff'),
         url('saira-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("webfonts/fa-brands-400.eot");
  src: url("webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
   url("webfonts/fa-brands-400.woff2") format("woff2"),
   url("webfonts/fa-brands-400.woff") format("woff"),
   url("webfonts/fa-brands-400.ttf") format("truetype"), 
   url("webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }
@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 300;
  src: url("webfonts/fa-light-300.eot");
  src: url("webfonts/fa-light-300.eot?#iefix") format("embedded-opentype"), 
  url("webfonts/fa-light-300.woff2") format("woff2"), 
  url("webfonts/fa-light-300.woff") format("woff"), 
  url("webfonts/fa-light-300.ttf") format("truetype"), 
  url("webfonts/fa-light-300.svg#fontawesome") format("svg"); }

.fal {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300; }
@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 400;
  src: url("webfonts/fa-regular-400.eot");
  src: url("webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), 
  url("webfonts/fa-regular-400.woff2") format("woff2"), 
  url("webfonts/fa-regular-400.woff") format("woff"), 
  url("webfonts/fa-regular-400.ttf") format("truetype"), 
  url("webfonts/fa-regular-400.svg#fontawesome") format("svg"); }

.far {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 900;
  src: url("webfonts/fa-solid-900.eot");
  src: url("webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), 
  url("webfonts/fa-solid-900.woff2") format("woff2"), 
  url("webfonts/fa-solid-900.woff") format("woff"), 
  url("webfonts/fa-solid-900.ttf") format("truetype"), 
  url("webfonts/fa-solid-900.svg#fontawesome") format("svg"); }