<section class="newsroom_sec">
  <div class="wrapper_10x">

         <ul class="hybse_newss">
          <li class="news_secc">
            <div class="col-md-12 identity_sec d-flex justify-content-between align-items-center">
                <h2>News</h2>
                <div class="dropdown submenu_dd" >
                  <a id="subMenuDropDown" class="submenu_link" data-toggle="dropdown" href="#!">
                    <i class="fal fa-ellipsis-h"></i>
                  </a>
                  <div class="dropdown-menu history_menu">
                    <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="male" checked> Type AAA</a>
                    <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> Type AAB</a>
                    <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> Type AAC</a>
                    <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> DIM EUR</a>
                    <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> DIM USDT</a>
                  </div>
                </div>
                   
              </div>
        
                      
          </li>
         </ul>


         <ul class="news_selector">
            <li class="upgrade_silver d-flex flex-row">
              <span class="col-md-2">18.12.2017</span>
              <p class="col-md-8">HYBSE orem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              <a class="col-md-2" href="javascript:void(0)"><i class="fal fa-plus"></i></a>
            </li>

          <li class="upgrade_silver d-flex flex-row">
                  <span class="col-md-2">05.12.2017</span>
                  <p class="col-md-8">HYBSE lorem ipsum dolor sit amet, consectetuer adipiscing</p>
                  <a class="col-md-2" href="javascript:void(0)"><i class="fal fa-plus"></i></a>
                </li>

                <li class="upgrade_silver d-flex flex-row">
                      <span class="col-md-2">04.11.2017</span>
                      <p class="col-md-8">HYBSE orem ipsum dolor sit amet elit</p>
                      <a class="col-md-2" href="javascript:void(0)"><i class="fal fa-plus"></i></a>
                </li>

                    <li class="upgrade_silver d-flex flex-row">
                          <span class="col-md-2">31.09.2017</span>
                          <p class="col-md-8">HYBSE lorem ipsum dolor sit amet, consectetuer adipiscing</p>
                          <a class="col-md-2" href="javascript:void(0)"><i class="fal fa-plus"></i></a>
                        </li>

                        <li class="upgrade_silver d-flex flex-row">
                              <span class="col-md-2">03.08.2017</span>
                              <p class="col-md-8">HYBSE News lorem ipsum</p>
                              <a class="col-md-2" href="javascript:void(0)"><i class="fal fa-plus"></i></a>
                            </li>

                            <li class="upgrade_silver d-flex flex-row">
                              <span class="col-md-2">03.08.2017</span>
                              <p class="col-md-8">HYBSE News lorem ipsum</p>
                              <a class="col-md-2" href="javascript:void(0)"><i class="fal fa-plus"></i></a>
                            </li>
                            <li class="upgrade_silver d-flex flex-row">
                              <span class="col-md-2">03.08.2017</span>
                              <p class="col-md-8">HYBSE News lorem ipsum</p>
                              <a class="col-md-2" href="javascript:void(0)"><i class="fal fa-plus"></i></a>
                            </li>
                            <li class="upgrade_silver d-flex flex-row">
                              <span class="col-md-2">03.08.2017</span>
                              <p class="col-md-8">HYBSE News lorem ipsum</p>
                              <a class="col-md-2" href="javascript:void(0)"><i class="fal fa-plus"></i></a>
                            </li>
                            <li class="upgrade_silver d-flex flex-row">
                              <span class="col-md-2">03.08.2017</span>
                              <p class="col-md-8">HYBSE News lorem ipsum</p>
                              <a class="col-md-2" href="javascript:void(0)"><i class="fal fa-plus"></i></a>
                            </li>
                            <li class="upgrade_silver d-flex flex-row">
                              <span class="col-md-2">03.08.2017</span>
                              <p class="col-md-8">HYBSE News lorem ipsum</p>
                              <a class="col-md-2" href="javascript:void(0)"><i class="fal fa-plus"></i></a>
                            </li>            

          </ul>
          <div class="pagination d-flex justify-content-center row">
            <a href="#">&laquo;</a>
            <a href="#">1,</a>
            <a class="active" href="#">2,</a>
            <a href="#">3,</a>
            <a href="#">4,</a>
            <a href="#">5,</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
      

  </div>
</section> 