<section class="admin_company_list admin_inner_block"  [@fadeInDown]="fadeInDown">
    <h2>{{ listTitle }}</h2>
    <div class="admin_table admin_user_list">
      <table>
        <thead>
          <th>#</th>
          <th>Company Name</th>
          <th>Username</th>
          <th>Created</th>
          <th>Status</th>
          <!-- <th>Current State</th> -->
          <th>Action</th>
        </thead>
        <tbody>
          <tr class="row_loader" *ngIf="showLoader">
            <td colspan="8">
                <hybse-admin-loader></hybse-admin-loader>
            </td>
          </tr>
          <tr [@fadeInDown]="fadeInDown" *ngFor="let comp of companyList;let i = index;">
            <td>{{ i + 1 }}</td>
            <td> <a (click)="editCompany(comp.CompanyId)" href="javascript:void(0)">{{ comp.CompanyName }}</a></td>
            <td>{{ comp.UserName }}</td>
            <td>{{ comp.CreatedAt | date:'medium' }}</td>
            <td><mat-slide-toggle (change)="toggleActive(comp,$event)" [checked]="checkActive( comp.isActive, 'bool' )" >{{checkActive( comp.isActive,'text')}}</mat-slide-toggle></td>
            <!-- <td>{{ comp.createdAt  }}</td> -->
            <td class="user_actions">
              <a class="user_edit" href="javascript:void(0)" (click)="editCompany(comp.CompanyId)"><i class="fas fa-edit"></i> Edit</a>
              <a class="user_delete" (click)="confirmDelete(comp.CompanyId)" href="javascript:void(0)"><i class="far fa-trash-alt"></i> Delete</a>
              <!-- <a class="user_logins" href="javascript:void(0)"><i class="fas fa-users"></i> Logins</a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
