<!-- <section class="add_menu_sec admin_inner_block">

    <hybse-admin-loader *ngIf="showLoader"></hybse-admin-loader>

    <h2>ADD MENU ITEMS</h2>

    <form [formGroup]="createMenuForm" novalidate class="add_menuitem_form admin_form">

      <div class="form_input_field">
        <mat-form-field>
          <input matInput formControlName="menu_item_title" placeholder="Title*">
        </mat-form-field>
      </div>

      <div class="form_input_field">
        <mat-form-field>
          <input matInput formControlName="menu_item_alias" placeholder="Alias*">
        </mat-form-field>
      </div>

      <div class="form_input_field">
        <mat-form-field>
          <input matInput formControlName="menu_item_path" placeholder="Path*">
        </mat-form-field>
      </div>

      <div class="form_input_field">
        <mat-form-field>
          <mat-select formControlName="menu_item_root" placeholder="Parent*">
            <mat-option>Root</mat-option>
            <mat-option value="{{page.id}}" *ngFor="let page of pageList;let i = index;">{{page.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form_button_field">
        <button mat-raised-button [disabled]="!createMenuForm.valid" class="form_btn_submit" color="primary">Submit</button>
        <button mat-raised-button (click)="cancelMenuCreate()" class="form_btn_cancel" color="warn">Cancel</button>
      </div>

    </form>
  </section> -->

  <section class="add_menu_sec admin_inner_block">



    <h2>ADD MENU</h2>

    <form [formGroup]="createMenuForm" #formDirective="ngForm" (ngSubmit)="createUpdateMenu(formDirective)" novalidate class="add_menu_form admin_form">

      <div *ngIf="formResponseMsg != ''" class="alert alert-dismissible fade show" [ngClass]="{'alert-success': alertStatusMessage,'alert-danger': !alertStatusMessage}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{formResponseMsg}}</strong>
      </div>

      <div class="add_menu_formwrap d-flex">
          <div class="form_input_field col-md-8">
            <mat-form-field>
              <input matInput [errorStateMatcher]="blurMatcher" formControlName="menu_title" placeholder="Menu Name*">
              <mat-error *ngIf="createMenuForm.controls['menu_title'].hasError('required') && createMenuForm.controls['menu_title'].touched">
                Please Enter Menu Name
              </mat-error>
            </mat-form-field>
            <input formControlName="menu_id" type="hidden">
          </div>
          <div class="form_button_field col-md-4">
            <button mat-raised-button [disabled]="!createMenuForm.valid" class="col-md-4 form_btn_submit" color="primary">Submit</button>
            <button mat-raised-button (click)="cancelMenuCreate()" type="reset" class="col-md-4 form_btn_cancel" color="warn">Cancel</button>
          </div>
      </div>

    </form>


    <h2>MENU LIST</h2>
    <div class="admin_table admin_menucat_list">
      <hybse-admin-loader *ngIf="showTableLoader"></hybse-admin-loader>
      <table>
        <thead>
          <th>S.No</th>
          <th>Menu Name</th>
          <th>Created Date</th>
          <th>Modified Date</th>
          <th>Action</th>
        </thead>

        <tbody>

          <tr class="row_loader" *ngIf="showLoader">
            <td colspan="8">
                <hybse-admin-loader></hybse-admin-loader>
            </td>
          </tr>

          <tr *ngFor="let menu of allMenuList;let i = index;">
            <td>{{i+1}}</td>
            <td>{{menu.menuName}}</td>
            <td>{{menu.createdAt | date:'medium'}}</td>
            <td>{{menu.modifiedAt | date:'medium'}}</td>
            <td class="user_actions">
              <a class="user_edit" (click)="updateMenu(menu)" href="javascript:void(0)"><i class="fas fa-edit"></i> Edit</a>
              <a class="user_delete" (click)="confirmDelete(menu.id)" href="javascript:void(0)"><i class="far fa-trash-alt"></i> Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
