



<div class="sec_header">
<div class="wrapper_117x">
  <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
          <nav class="site_navbar_sec">
              <ul class="d-flex">
                  <li><a routerLink="balance" routerLinkActive="active">Account</a></li>
                  <li><a routerLink="history" routerLinkActive="active">Deposit/Withdraw</a></li>
                   <li><a routerLink="orders" routerLinkActive="active">Orders</a></li>
                   <!-- <li><a routerLink="market" routerLinkActive="active">Market</a></li> -->
              </ul>
          </nav>
      </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>