<div class="dash_widgets latest_tickets">
    <h3>Latest Tickets</h3>
    <div class="scroll_content" verticalscrollbar>
      <ul class="widget_checklist">
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
        <li class="d-flex flex-row align-items-center">
            <mat-checkbox>Actual Business Plan</mat-checkbox>
            <span class="label_badge">HBOTC-10</span>
            <a class="approve_link" href="javascript:void(0)">Approve</a>
        </li>
      </ul>
    </div>
  </div>