.form_loader {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	background: rgba(255,255,255,0.4);
}
.form_loader .data_loader{
	position: absolute;
	left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.loader_wrap {
  margin: 0 0 20px;
}
