<section class="add_page_sec admin_inner_block">

  <hybse-admin-loader *ngIf="showLoader"></hybse-admin-loader>


  <h2>ADD/EDIT CATEGORIES</h2>


  <div *ngIf="formResponseMsg != ''" class="alert alert-dismissible fade show" [ngClass]="{'alert-success': alertStatusMessage,'alert-danger': !alertStatusMessage}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{formResponseMsg}}</strong>
  </div>


  <form [formGroup]="createPageCatForm" (ngSubmit)="createUpdatePageCat()" novalidate class="add_page_form admin_form">

    <div class="form_input_field">
      <mat-form-field>
        <input [errorStateMatcher]="blurMatcher" (blur)="setAliasInput()" matInput formControlName="page_cat_title" placeholder="Title*">
        <mat-error *ngIf="createPageCatForm.controls['page_cat_title'].hasError('required') && createPageCatForm.controls['page_cat_title'].touched">
          Please Enter Category Title
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form_input_field">
      <mat-form-field>
        <input [errorStateMatcher]="blurMatcher" matInput formControlName="page_cat_alias" placeholder="Alias*">
        <mat-error *ngIf="createPageCatForm.controls['page_cat_alias'].hasError('required') && createPageCatForm.controls['page_cat_alias'].touched">
            Please Enter Category Alias
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form_input_field">
      <mat-form-field>
        <textarea matInput formControlName="page_cat_desc" placeholder="Content Description*" cols="30" rows="5"></textarea>
        <mat-error *ngIf="createPageCatForm.controls['page_cat_desc'].hasError('required') && createPageCatForm.controls['page_cat_desc'].touched">
            Please Enter Category Description
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form_button_field">
      <button mat-raised-button [disabled]="!createPageCatForm.valid" class="form_btn_submit" color="primary">Submit</button>
      <button mat-raised-button (click)="cancelPageCatCreate()" class="form_btn_cancel" color="warn">Cancel</button>
    </div>

  </form>
</section>
