<section class="search_sec">
  <div class="wrapper_10x">

                  <div>
                      <h2>Answers</h2>
                    </div>
                      
        <nav class="search_navbar_sec">
          <ul>
              <li>Results 1-5 of 112 for OTC Market</li>
          </ul>
        </nav>
        <div class="row justify-content-between faq col-md-12">
          <strong class="search_content">OTC Market</strong>  
          <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
          Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          </p>
        </div>
        <div class="row justify-content-between faq col-md-12">
            <strong class="search_content">OTC Market Lorem ipsum dolor sit amet</strong>  
            <p>
                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
                Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
            </p>
        </div>
        <div class="row justify-content-between faq col-md-12">
            <strong class="search_content">Lorem ipsum dolor sit amet OTC Market</strong>  
            <p>
                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
                Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
            </p>
        </div>
        <div class="row justify-content-between faq col-md-12">
            <strong class="search_content">Lorem ipsum dolor sit amet OTC Market</strong>  
            <p>
                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
                Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
            </p>
        </div>
        <div class="row justify-content-between faq col-md-12">
            <strong class="search_content">OTC Market</strong>  
            <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </p>
        </div>

        <div class="pagination d-flex justify-content-center row">
            <a href="#">&laquo;</a>
            <a href="#">1,</a>
            <a class="active" href="#">2,</a>
            <a href="#">3,</a>
            <a href="#">4,</a>
            <a href="#">5,</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
        
  </div>
</section> 