<section class="header_banner">
  <div class="banner_section">
      <ul id="bannerSlider">
          <li>
              <div class="banner_img" style="background-image: url('assets/images/hybse-about.png')">
                  <div class="banner_content">
                      <div class="banner_content_title">
                          <h4 class="about_banner">About us</h4>
                      </div>
                     
                  </div>
              </div>
          </li>    

      </ul>
  </div>
</section>

<section class="page_section about_section">
  <div class="wrapper_10x">
  <div class="about_section_title">
    <h3>About Hybrid Stock Exchange</h3>
    <p>
      Lorem <strong class="under">Hybrid Stock Exchange</strong> consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </p>
    <p>
      At vero eos et accusam et justo duo dolores et ea rebum.
       <strong class="under"> Hybrid Coin Exchange</strong> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et <strong class="under">Hybrid Forex Exchange</strong>, sed diam voluptua.
         At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
</div>
</div>
</section>

<section class="dim_ecosystem">
    <div class="dim_sec">
        <div class="wrapper_152x">
         
          <h3>DIM Ecosystem</h3>
            
          <ul class="d-flex row justify-content-center">
            <li class="col-md-3">
              <a class="" href="https://www.dimcoin.io/" target="_blank" title=""><img class="rules_logo" src="assets/images/dimcoin_button.png"></a>
              <h4>DIMCOIN</h4>
            </li>
  
            <li class="col-md-3">
              <a class="" href="https://www.depotwallet.com/#!/" target="_blank" title=""><img class="rules_logo" src="assets/images/depotwallet_button.png"></a>
              <h4>DEPOTWALLET</h4>
            </li>
  
            <li class="col-md-3">
              <a class="" href="https://dim.foundation/" target="_blank" title=""><img class="rules_logo" src="assets/images/dim_foundation_button.png"></a>
              <h4>DIM Foundation</h4>
            </li>
  
            <li class="col-md-3">
              <a class="" href="https://ibin.io/" target="_blank" title=""><img class="rules_logo" src="assets/images/ibin.png"></a>
              <h4>IBIN</h4>
            </li>
          </ul>
  
          
        </div>
     </div>
  </section>

  <section class="why_hybse">
      <div class="wrapper_10x">
    
    
        <div class="row"> 
        <div class="col-md-12">
          <div class="why_hybse_sec row justify-content-between">
            <h2>Why HYBSE</h2>          
          </div>
    
          <ul class="news_selector">
              <li class="stock_faq d-flex flex-row">
                <p class="col-md-10">Direct interaction between buyers and sellers using desktops and mobiles , thus eliminating the pricey brokerage fees</p>
                <a class="col-md-2" href=""><i _ngcontent-c3="" class="fal fa-plus"></i></a>
              </li>
  
            <li class="d-flex flex-row">
                    <p class="col-md-10">Easy usage and free registration</p>
                    <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
                  </li>
  
                  <li class="d-flex flex-row">
                        <p class="col-md-10">High level of protection systems on customers' information and all transactions</p>
                        <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
                  </li>
  
                      <li class="d-flex flex-row">
                            <p class="col-md-10">Freely tradeable shares</p>
                            <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
                          </li>
  
                          <li class="d-flex flex-row">
                                <p class="col-md-10">5-phase lock-up shares periods</p>
                                <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
                              </li>
            </ul>
            <div class="filter button d-flex row justify-content-center">
                <button type="Submit">View all</button>
        </div>
          
    
        </div>
        </div>
        </div>
        </section>

        <section class="hybse_philosophy">
            <div class="philosophy_sec">
                <div class="wrapper_152x">
                  
                  <h3>HYBSE Philosophy</h3>
                  
                  <ul class="d-flex row justify-content-center">
                    <li class="col-md-3">
                      <a class="" href="#" title=""><img class="rules_logo" src="assets/images/identitiy_button.png"></a>
                      <h4>HYBSE</h4>
                      <button class="phil_button"><i class="fal fa-angle-right"></i></button>
                    </li>
          
                    <li class="col-md-3">
                      <a class="" href="#" title=""><img class="rules_logo" src="assets/images/stabilbity_button.png"></a>
                      <h4>Secure</h4>
                      <button class="phil_button"><i class="fal fa-angle-right"></i></button>
                    </li>
          
                    <li class="col-md-3">
                      <a class="" href="#" title=""><img class="rules_logo" src="assets/images/growth_button.png"></a>
                      <h4>Stable</h4>
                      <button class="phil_button"><i class="fal fa-angle-right"></i></button>
                    </li>
          
                    <li class="col-md-3">
                      <a class="" href="#" title=""><img class="rules_logo" src="assets/images/safety_button.png"></a>
                      <h4>Growing</h4>
                      <button class="phil_button"><i class="fal fa-angle-right"></i></button>
                    </li>
                  </ul>
          
                  
                </div>
             </div>
          </section>