<section class="guided_tour_section">
  <div class="guided_tour_register">
        <p class="register_header">Registration</p>
      <div class="wrapper_10x">

          <ul class="trip_lists_register row justify-content-center">
              <li class="col-md-6">
                  <div class="trip_detail_sec">

                      <h4>User Account</h4>
                      <strong>
                          <h1 class="User_icon"><a href="#" title="User Account"></a></h1>
                      </strong>

                      <ul class="trip_features">
                          <li>
                              <i class="fal fa-check" style="color: #1d1d1b;"></i>   Register listing account info lorem ipsum 1
                          </li>
                          <li>
                              <i class="fal fa-check" style="color: #1d1d1b;"></i>   Register issuer account info two
                          </li>
                          <li>
                              <i class="fal fa-check" style="color: #1d1d1b;"></i>   Register listing account Info lorem ipsum 3
                          </li>
                          <li>
                              <i class="fal fa-check" style="color: #1d1d1b;"></i>   Register issuer account info four
                          </li>
                      </ul>
                      <div class="user_register button d-flex flex-row justify-content-center">
                          <button routerLink="/userregister" type="Submit">Register now</button>
                      </div>
                  </div>

              </li>

              <li class="col-md-6">
                  <div class="trip_detail_sec">

                      <h4>Issuer Account</h4>
                      <strong>
                          <h1 class="issuer_icon"><a href="#" title="issuer Account"></a></h1>
                      </strong>

                      <ul class="trip_features">
                          <li>
                              <i class="fal fa-check" style="color: #1d1d1b;"></i>   Register listing account info lorem ipsum 1
                          </li>
                          <li>
                              <i class="fal fa-check" style="color: #1d1d1b;"></i>   Register listing account info 2
                          </li>
                          <li>
                              <i class="fal fa-check" style="color: #1d1d1b;"></i>   Register listing account Info lorem ipsum 3
                          </li>
                          <li>
                              <i class="fal fa-check" style="color: #1d1d1b;"></i>   Register listing account info 4
                          </li>
                      </ul>
                      <div class="user_register button d-flex flex-row justify-content-center">
                          <button routerLink="/issuer" type="Submit">Register now</button>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</section>