<section class="user_login_body">
  <div class="signup_wrapper">
          <p class="recovery_header">Reset Password</p>
      <div class="signup_sec login_sec">
 
          
          <form [formGroup]="resetPasswordForm" novalidate action="">
                <div class="legal_info">
                        <p class="forgot_p">Enter a new password for your account</p>
                      </div>
                  <div class="form-group">
                    <label class="formlabel" for="email">Password*:</label> 
                    <i class="fal fa-lock material_pwd_recovery"></i>
                  <input formControlName="password" type="password" class="form-control lined_input" id="email" placeholder="Please Enter new password">
                  <span class="falseclass" *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched">Please enter your Password</span>
                  <span class="falseclass" *ngIf="resetPasswordForm.controls['password'].hasError('passwordInvalid') && resetPasswordForm.controls['password'].touched">Password must have length 8 to 18 with one Upper Case and one Special Chracter</span>

              </div>

              <div class="form-group">
                <label class="formlabel" for="email">Confirm Password*:</label> 
                <i class="fal fa-lock material_pwd_cnfrecovery"></i>
              <input formControlName="confirmpassword" type="password" class="form-control lined_input" id="email" placeholder="Please confirm your password">
              <span class="falseclass" *ngIf="resetPasswordForm.controls['confirmpassword'].hasError('required') && resetPasswordForm.controls['confirmpassword'].touched">Please enter your Password</span>
              <span class="falseclass" *ngIf="resetPasswordForm.controls['confirmpassword'].hasError('passwordInvalid') && resetPasswordForm.controls['confirmpassword'].touched">Password must have length 8 to 18 with one Upper Case and one Special Chracter</span>
              <span class="falseclass" *ngIf="resetPasswordForm.hasError('passInvalid')&& resetPasswordForm.controls['confirmpassword'].touched">Entered password doesn't match the original</span>

          </div>


             

              <input type="hidden" formControlName="captchField">
              <div id="html_element"></div>

              <div *ngIf="Mesg != ''" class="alert login_error_msg" [ngClass]="{ 'alert-success':responseSuccess ,'alert-danger': !responseSuccess }" >
                  {{ Mesg}}
              </div>

              <hybse-apploader *ngIf="showLoader"></hybse-apploader>
              <div class="form-group btn_grp">
                    <button (click)="resetPasswordFormSubmit()" [disabled]="!resetPasswordForm.valid || disableButton" type="submit" class="btn btn-info issuer-signup">Reset Password</button>
                   
                  </div> 
                
             <hr class="login_ender">
             </form>
          <a class="Login_register">Don't have an account.<span routerLink="/registration" class="dotted_link">Register Now!</span></a>
      </div>

  </div>
</section>

<!-- </section> -->


