<footer>

    <div class="staging_level">HYBSE - APOLLO - STAGING SERVER - Version 2.0</div>
<div class="contact_sect_details">
        
    	<div class="wrapper_117x">
    	<ul class="row">
	      <!-- <li class="col-md-3 d-flex">
	      	
	      	<div class="mailid"> -->
                  <!-- <h4>Community</h4> -->
                  <!-- <h3>Sign up for newsletter</h3> -->
	      		<!-- <form class="footer_email">
                    <input type="text" id="email" name="" placeholder="Your email here">
                    <button type="submit"><i class="fas fa-arrow-right"></i></button>
                  </form> -->
	      	<!-- </div>
	      </li> -->

	      <li class="col-md-3 d-flex">
	      	
	      	<div class="mailid">
                <h4>Social Media</h4>
                <h3>Follow us</h3>
                <ul class="footer_social_icons d-flex flex-row justify-content-center">
                    <li class="facebook" ><a href="https://www.facebook.com/HybridStockExchange/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="twitter"><a  href="https://twitter.com/HYBSE" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="youtube"><a  href="https://www.youtube.com/channel/UC0yv0bkweSER_FmH0gJbFHg" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                  </ul>
	      	</div>
	      </li>
          <li class="col-md-1 d-flex"></li>
	      <li class="col-md-4 d-flex">
	      	
	      	<!-- <div class="mailid">
                <h4>Hybrid Exchanges</h4>
                <h3>Visit our other Exchanges</h3>
                <ul class="footer_logo d-flex flex-row">
                <li class="hybce_logo col-md-2"><a href="#" title="Hybce">HYBCE</a></li>
                <li class="hybxe_logo col-md-2"><a href="#" title="Hybce">HYBCE</a></li>
                </ul>
	      	</div> -->
          </li>
          <li class="col-md-1 d-flex"></li>
          <li class="col-md-3 d-flex">
            
            <div class="mailid">
                <h4>Hybrid Stock Exchange</h4>
                <h3> {{ showTime }} CET</h3>
                <ul class="footer_menu_links d-flex flex-row">
                    <li><a routerLink="/support" title="Support">Support</a></li>
                    <li><a routerLink="/contact" title="Contact">Contact</a></li>
                    <li><a routerLink="/legal" title="legal">legal</a></li>
                  </ul>
            </div>
        </li>

	    </ul>
        </div>
    </div>
    </footer>

