<section class="wallet_orders_sec">
    <div class="wrapper_117x">
      <div class="hybse_bg">
        <div class="wallet_history row justify-content-between">
          <h2>Market</h2>
          <ul class="d-flex">

          <li><h5>24H</h5></li>
          <li><h5>1M</h5></li>
          <li><h5 class="active">1Y</h5></li>
          <li><h5>ALL</h5></li>
          <li class="drop_down_list">
            <div class="d-flex">
              <div class="dropdown submenu_dd" >
                <a id="subMenuDropDown" class="submenu_link" data-toggle="dropdown" href="#!">
                  <i class="fal fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu history_menu">
                <form>
                  <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="male" checked> Type AAA</a>
                  <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> Type AAB</a>
                  <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> Type AAC</a>
                  <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> DIM EUR</a>
                  <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> DIM USDT</a>
                </form>
                </div>
              </div>
             </div>
          </li>

        </ul>          
        </div>
        
        <div class="market_sect_details">
          <div class="wrapper_117x">
              <ul class="market_stat_info row">
                <li class="col-md-4 d-flex justify-content-between align-items-center">
                  <div class="market_stat_detail d-flex justify-content-between align-items-center">
                    <div class="stat_detail_lt">
                      <span class="label_title">Top Volume:</span>
                      <span>ShareAAA/BTC</span>
                    </div>
                    <div class="stat_detail_rt d-flex justify-content-between align-items-center">
                      <span>1345 BTC</span>
                      <span class="stat_icons d-flex flex-column">
                        <i class="fal fa-arrow-right"></i>
                        <i class="fal fa-arrow-left"></i>
                      </span>
                    </div>
                  </div>
                </li>

                <li class="col-md-4 increase d-flex justify-content-between align-items-center">
                    <div class="market_stat_detail d-flex justify-content-between align-items-center">
                      <div class="stat_detail_lt">
                        <span class="label_title">Top Volume:</span>
                        <span>ShareAAA/BTC</span>
                      </div>
                      <div class="stat_detail_rt d-flex justify-content-between align-items-center">
                        <span>+90%</span>
                        <span class="stat_icons d-flex flex-column">
                          <i class="fal fa-arrow-right"></i>
                          <i class="fal fa-arrow-left"></i>
                        </span>
                      </div>
                    </div>
                  </li>

                  <li class="col-md-4 decrease d-flex justify-content-between align-items-center">
                      <div class="market_stat_detail d-flex justify-content-between align-items-center">
                        <div class="stat_detail_lt">
                          <span class="label_title">Top Volume:</span>
                          <span>ShareAAA/BTC</span>
                        </div>
                        <div class="stat_detail_rt d-flex justify-content-between align-items-center">
                          <span>-50%</span>
                          <span class="stat_icons d-flex flex-column">
                            <i class="fal fa-arrow-right"></i>
                            <i class="fal fa-arrow-left"></i>
                          </span>
                        </div>
                      </div>
                    </li>
              </ul>
          </div>
        </div>

        <nav class="card_navbar_sec">
          <ul>
              <li><a href="javascript:void(0)">Overview</a></li>
              <li class="withdraw_history"><a href="javascript:void(0)">Market Depth</a></li>
          </ul>
        </nav>

        <div class="hybse_table">
          <table>
            <thead>
              <tr>
                <th>Market</th>
                <th>Change</th>
                <th>24h volume</th>
                <th>Last price</th>
                <th>24h High</th>
                <th>24h Low</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>AAA/DIMT</td>
                <td>+0.12</td>
                <td>0,00000000</td>
                <td>0,00000000</td>
                <td>0,00000000</td>
                <td>0,00000000</td>
               </tr>
              <tr class="even">
                  <td>AAB/DIME</td>
                  <td>-0.12</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
              </tr>
              <tr class="market_red">
                  <td>AAC/DIMF</td>
                  <td>-0.12</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
              </tr>
              <tr class="even">
                  <td>AAD/DIME</td>
                  <td>-0.12</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
              </tr>
              <tr>
                  <td>AAE/DIME</td>
                  <td>+0.12</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
              </tr>
              <tr class="even">
                  <td>AAF/DIMT</td>
                  <td>-0.12</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
              </tr>
              <tr class="market_yellow">
                  <td>AAG/DIME</td>
                  <td>+0.12</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
              </tr>
              <tr class="even">
                <td>AAH/DIME</td>
                <td>0.00</td>
                <td>0,00000000</td>
                <td>0,00000000</td>
                <td>0,00000000</td>
                <td>0,00000000</td>
              </tr>
              <tr>
                  <td>AAI/DIMT</td>
                  <td>0.00</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
              </tr>
              <tr class="even">
                  <td>AAJ/DIMT</td>
                  <td>+0.12</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                  <td>0,00000000</td>
                </tr> 
            </tbody>
          </table>
        </div>

        


      </div>
    </div>
  </section>