<div class="dash_widgets image_approval">
    <h3>Image Approval</h3>
    <div class="scroll_content" verticalscrollbar>
      <ul>
        <li class="d-flex flex-row justify-content-between align-items-center">
          <p>
            <mat-checkbox></mat-checkbox>
            <span class="avatar_img"><img src="assets/images/avatar.png" alt=""></span>
            <label class="label_badge">HBAD-7</label>
          </p>
        </li>
        <li class="d-flex flex-row justify-content-between align-items-center">
          <p>
            <mat-checkbox></mat-checkbox>
            <span class="avatar_img"><img src="assets/images/avatar2.jpg" alt=""></span>
            <label class="label_badge">HBAD-7</label>
          </p>
        </li>
        <li class="d-flex flex-row justify-content-between align-items-center">
          <p>
            <mat-checkbox></mat-checkbox>
            <span class="avatar_img"><img src="assets/images/avatar3.png" alt=""></span>
            <label class="label_badge">HBAD-7</label>
          </p>
        </li>
        <li class="d-flex flex-row justify-content-between align-items-center">
          <p>
            <mat-checkbox></mat-checkbox>
            <span class="avatar_img"><img src="assets/images/avatar4.png" alt=""></span>
            <label class="label_badge">HBAD-7</label>
          </p>
        </li>
      </ul>
    </div>

  </div>