<section class="admin_user_logs admin_inner_block">
  <div class="title_sec d-flex justify-content-between align-items-center">
    <h2>User Logs</h2>
    <a class="link_btn" routerLink="/investor/user-lists">
      <i class="fal fa-long-arrow-left"></i>
      Back
    </a>
  </div>

  <div class="admin_table user_logs_list">
    <hybse-admin-loader *ngIf="showLoader"></hybse-admin-loader>
    <table>
      <thead>
        <th>S.No</th>
        <th>IP Address</th>
        <th>Country Code</th>
        <th>Activity</th>
        <th>Date</th>
        <th>OS</th>
        <th>Browser</th>
      </thead>

      <tbody>
        <tr *ngFor="let logs of userLogs;let i = index;">
          <td>{{getSerialNum(i)}}</td>
          <td>{{ logs.ip }}</td>
          <td>{{ logs.countryCode }}</td>
          <td><a href="javascript:void(0)" (click)=activityDetail(logs.activityId) >{{ logs.Activity }}</a></td>
          <td>{{ logs.dateLogin | date:'medium' }}</td>
          <td>{{ logs.userAgent | parseua:'os' }}</td>
          <td>{{ logs.userAgent | parseua:'browser' }}</td>
        </tr>
      </tbody>
    </table>


    <hybse-admin-pagination *ngIf="pageListOriginal.length > pageSize" [listLength]="pageListOriginal.length"
      [paginateArr] = "pageListOriginal"
      [pageSize]="pageSize"
      (paginateItem) = "getPaginateItem($event)">  </hybse-admin-pagination>


  </div>
</section>
