
<section class="admin_activity_log admin_inner_block">
    <h2>Activity Logs</h2>

    <form [formGroup]="activityFilterForm" #formDirective="ngForm" (ngSubmit)="filterLogs(formDirective)" novalidate class="filter_form admin_form">
      <div class="add_menu_formwrap d-flex">
          <div class="form_input_field col-md-4">
            <mat-form-field>
              <input matInput formControlName="username" placeholder="User Name">
            </mat-form-field>
          </div>
          <div class="form_input_field col-md-4">
            <mat-form-field>
              <mat-select formControlName="activityCode" placeholder="Activity Code">
                <mat-option value="{{code}}" *ngFor="let code of activityCodes;let i = index;">{{code}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form_button_field col-md-4">
            <button mat-raised-button class="col-md-4 form_btn_submit" color="primary">Filter</button>
          </div>
      </div>

    </form>

    <div class="admin_table activity_log_list">
      <hybse-admin-loader *ngIf="showLoader"></hybse-admin-loader>
      <table>
        <thead>
          <th>User Name</th>
          <th>User Type</th>
          <th>User Level</th>
          <th>Activity Code</th>
          <th>Activity Title</th>
          <th>Activity Description</th>
          <th>Activity Date</th>
        </thead>

        <tbody>
          <tr *ngFor="let logs of activitiesLog; let i = index">
            <td>{{logs.username}}</td>
            <td>{{logs.userType}}</td>
            <td>{{logs.userLevel}}</td>
            <td>{{logs.activityCode}}</td>
            <td>{{logs.activityTitle}}</td>
            <td>{{logs.activityDetail}}</td>
            <td>{{logs.activityOn | date:'medium'}}</td>
          </tr>
        </tbody>
      </table>

      <!-- <hybse-admin-pagination *ngIf="pageListOriginal.length > pageSize" [listLength]="pageListOriginal.length"
          [paginateArr] = "pageListOriginal"
          [pageSize]="pageSize"
          (paginateItem) = "getPaginateItem($event)">  </hybse-admin-pagination> -->
      <div class="pagination_sec">
        <mat-paginator [length]="activitiesLogCount"
              [pageSize]="pageLimit"
              [hidePageSize] = "true"
              [showFirstLastButtons]="true"
              (page) = "paginateContent($event)">
        </mat-paginator>
      </div>
    </div>
  </section>
