<section class="userregister_section">
    <div class="signup_wrapper">
        <div class="signup_sec">
<p class="signup_header">Sign Up Issuer Account</p>

            <div class="row socialResponsive">
                  
                <div class="col-md-4">
                     <button type="button" class="btn btn-primary google-btn social_btn" (click)="loginWithGoogle()"><i class="fab fa-google-plus-g social-logo"></i><span class="vl"></span>Sign up with Google</button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary facebook-btn social_btn"  (click)="loginWithFacebook()"><i class="fab fa-facebook-f social-logo"></i><span class="vl"></span>Sign up with facebook</button>
                </div>
            </div>
            <div class="row socialResponsive">
                  
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary linkedin-btn social_btn"  (click)="loginWithlinkedIn()"><i class="fab fa-linkedin-in social-logo"></i><span class="vl"></span>Sign up with LinkedIn</button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <button type="button" disabled class="btn btn-primary outlook-btn social_btn" (click)="loginWithOutlook()"><i class="fas fa-envelope social-logo "></i><span class="vl"></span>Sign up with outlook</button>
                </div>
            </div>
            <hr class="hr-text" data-content="OR">

<form [formGroup]="RegisterForm" class="register_form" novalidate action="">

<div class="form-group" style="margin-top: 50px">
    <label class="formlabel" for="firstname" >Issuer Name*</label>
           <div class="row namebox no-gutters">
               <div class="col-md-6"><input formControlName="firstName" class="form-control" id="firstname" type="text" placeholder="First Name">
                   <span class="falseclass" *ngIf="RegisterForm.controls['firstName'].hasError('required') && RegisterForm.controls['firstName'].touched">Please enter first Name</span></div>
               <div class="col-md-6"><input formControlName="lastName" class="form-control" id="lastname" type="text" placeholder="Last Name">
                   <span class="falseclass" *ngIf="RegisterForm.controls['lastName'].hasError('required') && RegisterForm.controls['lastName'].touched">Please enter last Name</span></div>
           </div>
</div>

                <div class="form-group">
                    <label class="formlabel" for="email">Email*:</label>
                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Your Email Address">
                    <span class="falseclass" *ngIf="RegisterForm.controls['email'].hasError('required') && RegisterForm.controls['email'].touched">Please enter Email</span>
                    <span class="falseclass" *ngIf="RegisterForm.controls['email'].hasError('emailInvalid')&& RegisterForm.controls['email'].touched ">Enter a valid email address</span>
                </div>

                <div class="form-group">
                    <label class="formlabel" for="password">Password*:</label>
                    <input formControlName="password"  type="password" class="form-control" id="password" placeholder="Your Password">
                    <span class="falseclass" *ngIf="RegisterForm.controls['password'].hasError('required') && RegisterForm.controls['password'].touched">Please enter your Password</span>
                    <span class="falseclass" *ngIf="RegisterForm.controls['password'].hasError('passwordInvalid') && RegisterForm.controls['password'].touched">Password must have length 8 to 18 with one Upper Case and one Special Chracter</span>

                </div>

                <div class="form-group">
                    <label class="formlabel" for="email">Confirm Password*:</label>

                    <input formControlName="confirmpassword"  type="password" class="form-control" id="confirmpassword" placeholder="Your Password">
                    <span class="falseclass" *ngIf="RegisterForm.controls['confirmpassword'].hasError('required') && RegisterForm.controls['confirmpassword'].touched">Please Re-enter your Password</span>
                    <span class="falseclass" *ngIf="RegisterForm.hasError('passInvalid')&& RegisterForm.controls['confirmpassword'].touched">Entered password doesn't match the original</span>
                </div>
                <!-- <span class="falseclass" *ngIf="RegisterForm.controls['confirmpassword'].hasError('passwordInvalid') && RegisterForm.controls['confirmpassword'].touched">Password must have length 8 to 18 with one Upper Case and one Special Chracter</span> -->

                <div class="checkbox" style="margin-top: 25px">
                        <input formControlName="confirmbox" type="checkbox" ><label class="check-txt"> I have read and agree with the <span> <a routerLink="/terms"  class="dotted_link" target="_blank">Terms of Use</a> </span> and <span> <a routerLink="/privacy" class="dotted_link" target="_blank">Privacy Policy</a></span></label>
                    <span class="falseclass" *ngIf="RegisterForm.controls['confirmbox'].hasError('required') && RegisterForm.controls['confirmbox'].touched">Please Accept Our Terms and Conditions</span>

                </div>
                <input type="hidden" formControlName="captchField">
                <div id="html_element"></div>
                
                 <div *ngIf="Mesg" class="alert issuerregister_error_msg" [ngClass]="{ 'alert-success':responseSuccess ,'alert-danger': !responseSuccess }" >
                 {{ Mesg }}
                 </div>
                <div class="form-group btn_grp">
                        <hybse-apploader *ngIf="showLoader"></hybse-apploader>

                    <button (click)="RegisterFormSubmit()" [disabled]="RegisterForm.invalid || disableButton" type="submit" class="btn btn-info issuer-signup">Sign Up</button>
               
                </div>


</form>
        </div>

    </div>
</section>
