<section class="add_mailtemplate_sec admin_inner_block" [@fadeInDown]="fadeInDown">

  <hybse-admin-loader *ngIf="showLoader"></hybse-admin-loader>


  <div class="title_sec d-flex justify-content-between align-items-center">
    <h2>ADD/EDIT TEMPLATE</h2>
    <a class="link_btn" routerLink="/mail-template/list">Back</a>
  </div>





  <div *ngIf="formResponseMsg != ''" class="alert alert-dismissible fade show" [ngClass]="{'alert-success': alertStatusMessage,'alert-danger': !alertStatusMessage}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{formResponseMsg}}</strong>
  </div>




  <form [formGroup]="createTemplateForm" (ngSubmit)="createUpdateTemplate()" novalidate class="add_mailtemplate_form admin_form">

    <div class="form_input_field">
      <mat-form-field>
        <input formControlName="title" matInput placeholder="Title*">
      </mat-form-field>
    </div>

    <div class="form_input_field">
      <mat-form-field>
        <mat-select formControlName="locale" placeholder="Locale*">
          <mat-option>Locale</mat-option>
          <mat-option value="{{locale.id}}" *ngFor="let locale of allLocaleList;let i = index;">{{locale.localeName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="form_input_field">
      <mat-form-field>
        <mat-select formControlName="messageType" placeholder="Message Type*">
          <mat-option>Message Type</mat-option>
          <mat-option value="Internal" >Internal</mat-option>
          <mat-option value="External" >External</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="form_input_field">
      <div class="editor_wrap">
        <textarea [froalaEditor]='editorsOptions' formControlName="mailContent" rows="8" matInput></textarea>
      </div>
    </div>

    <div class="form_button_field">
      <button mat-raised-button [disabled]="!createTemplateForm.valid" class="form_btn_submit" color="primary">Submit</button>
      <button mat-raised-button (click)="cancelTemplateCreate()" class="form_btn_cancel" color="warn">Cancel</button>
    </div>
  </form>

</section>
