<section class="dashboard_widgets_section">
    <hybse-admin-dashboardinfo>

    </hybse-admin-dashboardinfo>

    <div class="dashboard_widgets_wrap">
      <div class="row">
        <div class="col-md-6" [@fadeInDown]="fadeInDown">
          <hybse-admin-recentactivities>
            
          </hybse-admin-recentactivities>
        </div>


        <div class="col-md-6" [@fadeInDown]="fadeInDown">
          <hybse-admin-documentapproval>

          </hybse-admin-documentapproval>
        </div>

        <div class="col-md-6" [@fadeInDown]="fadeInDown">
          <hybse-admin-imageapproval>

          </hybse-admin-imageapproval>
        </div>

        <div class="col-md-6" [@fadeInDown]="fadeInDown">
          <hybse-admin-latesttickets>
            
          </hybse-admin-latesttickets>
        </div>

      </div>
    </div>

  </section>