:host .admin_login_wrap {
  max-width: 550px;
  width: 100%;
  margin: 150px auto 0;
  background: #fff;
  padding: 30px 50px;
  border-radius: 2px;
  box-shadow: 0px 10px 25px #d0d0d0;

}
.admin_login_wrap mat-form-field {
  width: 100%;
  margin: 0 0 10px;
}
.admin_login_wrap .admin_logo {
  text-align: center;
  margin: 0 0 30px;
}
.admin_login_wrap .admin_input {
  display: flex;
}
.admin_login_wrap .admin_input > i {
  padding: 20px 0 0;
  margin: 0 20px 0 0;
}
.admin_login_wrap .admin_logo a {
  background: url('../../../../assets/images/logo.png') no-repeat;
  width: 150px;
  height: 68px;
  text-indent: -9999px;
  display: inline-block;
}
.admin_login_btn {
  text-align: center;
}
.admin_login_btn button {
  border: 1px solid #4ec5e5;
  padding: 10px 75px;
  border-radius: 3px;
  color: #069dc5;
  cursor: pointer;
  background: none;
  position: relative;
  transition: all linear 0.5s;
  overflow: hidden;
}
.admin_login_btn button:focus,
.admin_login_btn button:active {
  outline: none;
}

.admin_login_btn button:before, .admin_login_btn button:after {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  -webkit-transform: translate(-13%,-190%) rotate(-30deg);
  transform: translate(-13%,-190%) rotate(-30deg);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(78, 197, 229);
  background-color: rgba(78, 197, 229,0.25);
}
.admin_login_btn button:after {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.admin_login_btn button:hover:before, .admin_login_btn button:hover:after {
  opacity: 0;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}
.admin_error_msg {
  padding: 12px 35px;
  color: #fff;
  border-radius: 1px;
  margin: 0 0 20px;
}

.admin_login_btn button:disabled,
.admin_login_btn button[disabled] {
  background: #eee;
  cursor: not-allowed;
  color: #bbb;
  border-color: #bbb;
  pointer-events: none;
}
