
<section class="admin_mailtemplate_list admin_inner_block"  [@fadeInDown]="fadeInDown">
  <div class="title_sec d-flex justify-content-between align-items-center">
    <h2>Email Templates</h2>
    <a class="link_btn" routerLink="/mail-template/create">Add New</a>
  </div>

  <div class="admin_table admin_user_list">
    <table>
      <thead>
        <th>S.No</th>
        <th>Title</th>
        <th>Locale</th>
        <th>Message Type</th>
        <th>Date Modified</th>
        <th>Action</th>
      </thead>

      <tbody>

        <tr class="row_loader" *ngIf="showLoader">
          <td colspan="8">
              <hybse-admin-loader></hybse-admin-loader>
          </td>
        </tr>
        <tr *ngFor="let temp of templateLists;let i = index;">
          <td>{{ i + 1 }}</td>
          <td>{{temp.title}}</td>
          <td>{{temp.idLocale}}</td>
          <td>{{temp.messageType}}</td>
          <td>{{temp.modifiedAt | date:'medium' }}</td>
          <td class="user_actions">
            <a class="user_edit" [routerLink]="['/mail-template/update', temp.idMessageTemplate]"><i class="fas fa-edit"></i> Edit</a>
            <a class="user_delete" (click)="confirmDelete(temp.idMessageTemplate)" href="javascript:void(0)"><i class="far fa-trash-alt"></i> Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
