<section class="header_banner">
  <div class="banner_section">
      <ul id="bannerSlider">
          <li>
              <div class="banner_img" style="background-image: url('assets/images/inner_page_learning_bg.jpg')">
                  <div class="banner_content">
                      <div class="banner_content_title">
                          <h4 class="learning_banner">Learning Center</h4>
                      </div>

                      <div class="d-flex justify-content-center">

                          <div class="switch_demo button">
                            <button routerLink="/login" type="Submit">Start Demo Trading now</button>
                          </div>

                          <div class="watch_video button">
                            <button routerLink="/registration" type="Submit">Register now</button>
                          </div>
                        </div>
                  </div>
              </div>
          </li>    

      </ul>
  </div>
</section>




<section class="video_tutorial">

  <div class="section_title">
      <h3>Video Tutorials</h3>
  </div>

  <div class="wrapper_117x">
    <ul class="row vacation_list">
      <li class="col-md-4">
        <div class="vacation_img">
          <img src="assets/images/hybse_lesson_one.jpg">
          <a data-toggle="modal" data-target="#lesson1" class="hybse_btn small" href="#"><i class="fal fa-play"></i></a>
          
        </div>
        <div class="vacation_content">
          <h5>HYBSE Lesson One:</h5>
          <p>What is the Stock Market?</p>
          
        </div>
      </li>

      <li class="col-md-4 travel_plan">
        <div class="vacation_img">
          <img src="assets/images/hybse_lesson_two.jpg">
          <a data-toggle="modal" data-target="#lesson2" class="hybse_btn small" href="#"><i class="fal fa-play"></i></a>
          
        </div>
        <div class="vacation_content">
          <h5>HYBSE Lesson Two:</h5>
          <p>Stock Investing Strategies</p>
          
        </div>
      </li>

      <li class="col-md-4">
        <div class="vacation_img">
          <img src="assets/images/hybse_lesson_three.jpg">
          <a data-toggle="modal" data-target="#lesson3" class="hybse_btn small" href="#"><i class="fal fa-play"></i></a>
          
        </div>
        <div class="vacation_content">
          <h5>HYBSE Lesson Three:</h5>
          <p>What makes a company valuable</p>
          
        </div>
      </li>
    </ul>
  </div>
  <div class="view_all_video button d-flex flex-row justify-content-center">
    <button data-toggle="collapse" data-target="#allVideos" type="Submit">View all</button>
</div>

<div id="allVideos" class="collapse">

    <div class="wrapper_117x">
        <ul class="row vacation_list">
          <li class="col-md-4">
            <div class="vacation_img">
              <img src="assets/images/hybse_lesson_one.jpg">
              <a data-toggle="modal" data-target="#lesson4" class="hybse_btn small" href="#"><i class="fal fa-play"></i></a>
              
            </div>
            <div class="vacation_content">
              <h5>HYBSE Lesson Four:</h5>
              <p>Using discounted cash flow</p>
              
            </div>
          </li>
    
         
    
         
        </ul>
      </div>



    
    </div>


</section>

<section class="trading_section">
  <div class="trading_steps">
      <div class="wrapper_152x">
        <div>
        <h3>First steps of trading</h3>
        </div>  
        <ul class="d-flex row justify-content-center">
          <li class="col-md-3">
            <a class="" href="#" title=""><img class="rules_logo" src="assets/images/buy_sell_button.png"></a>
            <h4>Buy and Sell</h4>
          </li>

          <li class="col-md-3">
            <a class="" href="#" title=""><img class="rules_logo" src="assets/images/community_button.png"></a>
            <h4>Community</h4>
          </li>

          <li class="col-md-3">
            <a class="" href="#" title=""><img class="rules_logo" src="assets/images/live_trading_button.png"></a>
            <h4>Live Trading</h4>
          </li>

          <li class="col-md-3">
            <a class="" href="#" title=""><img class="rules_logo" src="assets/images/stock_market_button.png"></a>
            <h4>Markets</h4>
          </li>
        </ul>

        
      </div>
   </div>
</section>

<section class="top_ten_sec">
    <div class="wrapper_117x">
  
  
      <div class="row"> 
      <div class="col-md-8">
        <div class="top_ten_golden row justify-content-between">
          <h2>Top ten golden rules</h2>          
        </div>
  
        <ul class="news_selector">
            <li class="stock_faq d-flex flex-row">
              <p class="col-md-10">Always have a trading plan with an entry and exit strategy</p>
              <a class="col-md-2" href=""><i _ngcontent-c3="" class="fal fa-plus"></i></a>
            </li>

          <li class="d-flex flex-row">
                  <p class="col-md-10">Do not open positions using all the money in your account</p>
                  <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
                </li>

                <li class="d-flex flex-row">
                      <p class="col-md-10">Do not invest again in your losing positions</p>
                      <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
                </li>

                    <li class="d-flex flex-row">
                          <p class="col-md-10">Use Stop Loss Orders for your open positions</p>
                          <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
                        </li>

                        <li class="d-flex flex-row">
                              <p class="col-md-10">Your goal is to trade with the trend</p>
                              <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
                            </li>
          </ul>
          <div class="filter button d-flex row justify-content-center">
              <button type="Submit">View all  </button>
      </div>
        
  
      </div>
  
      <div class="col-md-4">

                        <div class="glossary_sec">
                            <h2>Glossary</h2>
                          </div>
                          <div>
                            <ul>
                              <li class="drop_down_list">
                                <div class="d-flex flex-row justify-content-center">
                                  <div class="dropdown submenu_dd_gloss" >
                                    <a id="subMenuDropDown" class="submenu_link_gloss" data-toggle="dropdown" href="#!">
                                      A <i class="fal fa-angle-down"></i>
                                    </a>
                                    <div class="dropdown-menu history_menu">
                                    <form>
                                      <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="male" checked> Type AAA</a>
                                      <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> Type AAB</a>
                                      <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> Type AAC</a>
                                      <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> DIM EUR</a>
                                      <a class="dropdown-item history_item" href="#"><input type="radio" name="gender" value="female"> DIM USDT</a>
                                    </form>
                                    </div>
                                  </div>
                                 </div>
                              </li>
                            </ul>
                          </div>


                            <form class="directory_search_form" action="">
                              <input placeholder="Search Company" type="text">
                              <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
              
                            <ul class="news_selector">
                                <li class="stock_faq d-flex flex-row">
                                  <p class="col-md-10">Account</p>
                                  <a class="col-md-2" href=""><i _ngcontent-c3="" class="fal fa-plus"></i></a>
                                </li>
                    
                              <li class="d-flex flex-row">
                                      <p class="col-md-10">Account Balance</p>
                                      <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
                                    </li>
                    
                                    <li class="d-flex flex-row">
                                          <p class="col-md-10">Agent</p>
                                          <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
                                    </li>
                    
                                        <li class="d-flex flex-row">
                                              <p class="col-md-10">Aggregate Demand</p>
                                              <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
                                            </li>
                              </ul>
                              <div class="view_all_news button d-flex flex-row">
                                  <div class="next_prev">
                                      <a href=""><i class="fal fa-arrow-circle-down"></i></a>
                                      <a href=""><i class="fal fa-arrow-circle-up"></i></a>
                                  </div>
                              </div>
                           
                   
      </div>
    </div>
  
      
    </div>
  </section>

  <section class="how_charts_sec">
    <div class="">
        <h3>How to use charts</h3>          
        <div class="charts_bg" [ngStyle]="{'background-image': 'url(./assets/images/how_charts.png)' }">

        </div>
    </div>
  </section>   



  <div class="modal fade" id="lesson1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Hybse Trailer</h4> -->
          </div>
          <div class="modal-body">
              <iframe width="765" height="500" src="https://www.youtube.com/embed/G5CJS0LIrB4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info modal_btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="lesson2" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Hybse Trailer</h4> -->
            </div>
            <div class="modal-body">
                <iframe width="765" height="500" src="https://www.youtube.com/embed/fvZ-pv4pxWQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info modal_btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="lesson3" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hybse Trailer</h4> -->
              </div>
              <div class="modal-body">
                  <iframe width="765" height="500" src="https://www.youtube.com/embed/NBdSkDnCVN8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-info modal_btn" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="lesson4" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Hybse Trailer</h4> -->
                </div>
                <div class="modal-body">
                    <iframe width="765" height="500" src="https://www.youtube.com/embed/e_kKvYj3jas" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info modal_btn" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


