<section class="support_sec">
    <div class="wrapper_10x">
  
  
      <div class="row"> 
      <div class="col-md-8">
        <div class="d-flex justify-content-between">
        <div class="support_faq row justify-content-between">
          <h2>FAQ</h2>          
        </div>
        <div class="col-md-4">
            <form class="support_faq_search" action="">
                <input placeholder="Search" type="text">
                <button type="submit"><i class="fal fa-search"></i></button>
            </form>      
        </div>
      </div>
  
        <ul class="news_selector">
            <li class="stock_faq d-flex flex-row">
              <p class="col-md-10">What is HYBSE orem ipsum dolor sit amet, consectetuer adipiscing elit?</p>
              <a class="col-md-2" href=""><i _ngcontent-c3="" class="fal fa-plus"></i></a>
            </li>

            <li class="d-flex flex-row">
                  <p class="col-md-10">What is HYBSE lorem ipsum dolor sit amet, consectetuer adipiscing elit lorem ipsum?</p>
                  <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
            </li>

            <li class="d-flex flex-row">
                  <p class="col-md-10">What is HYBSE lorem ipsum dolor sit amet elit?</p>
                  <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
            </li>

            <li class="d-flex flex-row">
                  <p class="col-md-10">What is HYBSE lorem ipsum dolor sit amet, consectetuer adipiscing?</p>
                  <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
            </li>

            <li class="d-flex flex-row">
                   <p class="col-md-10">What is HYBSE lorem ipsum?</p>
                   <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
            </li>

            <li class="d-flex flex-row">
                   <p class="col-md-10">What is HYBSE lorem ipsum dolor sit amet, consectetuer adipiscing?</p>
                   <a class="col-md-2" href=""><i class="fal fa-plus"></i></a>
            </li>
          </ul>
          <div class="filter button d-flex row justify-content-center">
              <button type="Submit">View all  </button>
          </div>
        
  
      </div>
  
      <div class="col-md-4">
          <h2>Get in touch with us</h2>   
            <div class="support_git">
                  <form>
                    <textarea rows="4" cols="25" name="" form="" placeholder="Initial Question"></textarea>
                    <label class="support_tech"><input type="radio" name="gender" value="male" checked> Technical assistance</label>
                    <label class=""><input type="radio" name="gender" value="female"> Account assistance</label>
                    <label class=""><input type="radio" name="gender" value="female"> Billing</label>
                  </form>
                  <div class="send button d-flex row justify-content-center">
                      <button type="Submit">Send</button>
                  </div>      
  
                </div>
                




    </div>
    </div>
      
    </div>
  </section>