<aside [ngClass]="{'admin_sidenav':true, 'admin_menu_collapse': _ms.slideMenuToggle }">
  <div class="admin_wrap">
    <h1 class="logo">
      <a href="javascript:void(0)">
        Hybse
      </a>
    </h1>
    <nav verticalscrollbar class="admin_menu_list">
      <ul>
        <li *ngFor="let menu of adminMenu">
            <a (click)="menuAction(menu)" href="javascript:void(0)" title="{{menu.title}}">
              <i class="{{menu.icon}}"></i>
              <span>{{menu.title}}</span>
              <small *ngIf="menu.submenu.length > 0"><i [class.open]="!(menu.subMenuCollapse)" class="fas fa-plus"></i></small>
            </a>
            <hybse-admin-subnav *ngIf="menu.submenu.length > 0 && !(menu.subMenuCollapse)" [subMenu]="menu.submenu"></hybse-admin-subnav>
        </li>
      </ul>
    </nav>
  </div>
</aside>
