 <h1 class="logo">
   <a href="#">Hybse</a>
 </h1>

 <nav>
   <!-- <ul class="sibebar_menu">
     <li>
        <a href="#">Issuer Adminstrator <i class="fal fa-angle-down"></i></a>
        <ul class="sub_menu">
          <li><a href="#">Company Information</a></li>
          <li><a href="#">Company Description</a></li>
          <li><a href="#">Management Information</a></li>
          <li><a href="#">Financial Documents</a></li>
        </ul>
     </li>
     <li>
        <a href="#">Get Premium Issuer</a>
     </li>
     <li>
        <a href="#">News Center</a>
     </li>
     <li>
        <a href="#">Analytics</a>
     </li>
     <li>
        <a href="#">Calender</a>
     </li>
     <li>
        <a href="#">Inbox</a>
     </li>
     <li>
        <a href="#">Support</a>
     </li>
   </ul> -->
   <ul>
    <li *ngFor="let menu of adminMenu">
        <a (click)="menuAction(menu)" href="javascript:void(0)" title="{{menu.title}}">
          <span>{{menu.title}}</span>
          <small *ngIf="menu.submenu.length > 0">
            <i [class.fa-angle-up]="!(menu.subMenuCollapse)" class="fal fa-angle-down"></i>
          </small>
        </a>
        <hybse-issueradmin-subnav *ngIf="menu.submenu.length > 0 && !(menu.subMenuCollapse)" [subMenu]="menu.submenu"></hybse-issueradmin-subnav>
    </li>
  </ul>
 </nav>
