<section class="add_menuitem_sec admin_inner_block">

    <hybse-admin-loader *ngIf="showLoader"></hybse-admin-loader>


    <div *ngIf="formResponseMsg != ''" class="alert alert-dismissible fade show" [ngClass]="{'alert-success': alertStatusMessage,'alert-danger': !alertStatusMessage}" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{formResponseMsg}}</strong>
    </div>


    <h2>ADD MENU ITEMS</h2>

    <form [formGroup]="createMenuItemForm" (ngSubmit)="submitCreateMenuItem()" novalidate class="add_menuitem_form admin_form">

      <div class="form_input_field">
        <mat-form-field>
          <mat-select formControlName="menu_item_menuname" placeholder="Menu Type*">
            <mat-option>Root</mat-option>
            <mat-option value="{{menu.id}}" *ngFor="let menu of menuNameList;let i = index;">{{menu.menuName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form_input_field">
        <mat-form-field>
          <input matInput formControlName="menu_item_title" placeholder="Title*">
        </mat-form-field>
      </div>

      <div class="form_input_field">
        <mat-form-field>
          <mat-select formControlName="menu_item_root" placeholder="Parent">
            <mat-option>Root</mat-option>
            <mat-option value="{{item.id}}" *ngFor="let item of menuItemList">{{item.menuTitle}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form_input_field">
        <mat-form-field>
          <mat-select formControlName="menu_item_page" placeholder="Page*">
            <mat-option>Pages</mat-option>
            <mat-option value="{{page.alias}}" *ngFor="let page of pageList;let i = index;">{{page.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form_input_field">
        <mat-form-field>
            <input matInput type="number" formControlName="menu_item_order" placeholder="Menu Order*">
        </mat-form-field>
      </div>

      <div class="form_input_field radio">
          <p class="radio_label">Is Active</p>
          <mat-radio-group formControlName="menu_item_enabled">
            <mat-radio-button checked value="1">Yes</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
          </mat-radio-group>
      </div>

      <div class="form_button_field">
        <button mat-raised-button [disabled]="!createMenuItemForm.valid" class="form_btn_submit" color="primary">Submit</button>
        <button mat-raised-button (click)="cancelMenuItem()" type="reset" class="form_btn_cancel" color="warn">Cancel</button>
      </div>

    </form>
  </section>
