<section class="add_market_sec admin_inner_block" [@fadeInDown]="fadeInDown">

  <hybse-admin-loader *ngIf="showLoader"></hybse-admin-loader>
  <div class="title_sec d-flex justify-content-between align-items-center">
    <h2>ADD/EDIT MARKET</h2>
    <a class="link_btn" routerLink="/markets/list">Back</a>
  </div>

  <div *ngIf="responseMessage != ''" class="alert alert-dismissible alert-success fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{responseMessage}}</strong>
  </div>



  <div class="market_range" *ngIf="sourceSymbol != ''">
    <mat-card>
      <h5>Market: {{sourceSymbol}} <i class="fas fa-arrow-right"></i> {{primarySymbol}}</h5>
    </mat-card>
  </div>

  <form [formGroup]="createMarketForm" (ngSubmit)="createUpdateSubmit()" novalidate class="add_market_form admin_form">
    <div class="form_input_field">
      <mat-form-field>
        <mat-select [errorStateMatcher]="blurMatcher" (selectionChange)="symbolNameChange($event)" formControlName="source_symbol" placeholder="Source Symbol*">
          <mat-option>Symbol</mat-option>
          <mat-option *ngFor="let symbol of symbolList" value="{{symbol.id}}">{{symbol.symbol}}</mat-option>
        </mat-select>
        <mat-error *ngIf="createMarketForm.controls['source_symbol'].hasError('required')">Please Select Source Symbol</mat-error>
      </mat-form-field>
    </div>

    <div class="form_input_field">
      <mat-form-field>
        <mat-select [errorStateMatcher]="blurMatcher" (selectionChange)="targetNameChange($event)" formControlName="target_symbol" placeholder="Target Symbol*">
          <mat-option>Symbol</mat-option>
          <mat-option *ngFor="let symbol of targetSymbol" value="{{symbol.id}}">{{symbol.symbol}}</mat-option>
        </mat-select>
        <mat-error *ngIf="createMarketForm.controls['target_symbol'].hasError('required')">Please Select Target Symbol</mat-error>
      </mat-form-field>
    </div>

    <div class="form_input_field">
      <mat-form-field>
        <mat-select [errorStateMatcher]="blurMatcher" formControlName="companies" placeholder="Companies*">
          <mat-option>Companies</mat-option>
          <mat-option *ngFor="let comp of companyList" value="{{comp.CompanyId}}">{{comp.CompanyName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="createMarketForm.controls['companies'].hasError('required')">Please Select Companies</mat-error>
      </mat-form-field>
    </div>


    <div class="form_input_field">
      <mat-form-field>
        <input [errorStateMatcher]="blurMatcher" formControlName="initial_value" matInput placeholder="Initial Value*">
        <mat-error *ngIf="createMarketForm.controls['initial_value'].hasError('required')">Please Enter Initial Value</mat-error>
      </mat-form-field>
    </div>


    <div class="form_button_field">
      <button mat-raised-button [disabled]="!createMarketForm.valid" class="form_btn_submit" color="primary">Submit</button>
      <button mat-raised-button (click)="cancelMarketCreate()" class="form_btn_cancel" color="warn">Cancel</button>
    </div>


  </form>
</section>
