<section class="add_locale_sec admin_inner_block">

  <h2>LOCALE LIST</h2>
  <div class="admin_table admin_menucat_list">
    <!-- <hybse-admin-loader *ngIf="showTableLoader"></hybse-admin-loade  r> -->
    <table>
      <thead>
        <th>S.No</th>
        <th>Locale Name</th>
        <th>Language Name</th>
        <th>Currency Name</th>
        <th>Currency Symbol</th>
        <th>Symbol Position</th>
        <th>Number Format</th>
        <th>Action</th>
      </thead>

      <tbody>


        <!-- <tr class="row_loader" *ngIf="showLoader">
          <td colspan="8">
              <hybse-admin-loader></hybse-admin-loader>
          </td>
        </tr> -->

        <tr *ngFor="let locale of allLocaleList;let i = index;">
          <td>{{i+1}}</td>
          <td>{{locale.localeName}}</td>
          <td>{{locale.languageName}}</td>
          <td>{{locale.currencyName}}</td>
          <td>{{locale.currencySymbol}}</td>
          <td>{{locale.symbolPosition}}</td>
          <td>{{locale.numberFormat}}</td>
          <td class="user_actions">
            <a class="user_edit" (click)="updateLocale(locale.id)" href="javascript:void(0)"><i class="fas fa-edit"></i> Edit</a>
            <a class="user_delete" (click)="confirmDelete(locale.id)" href="javascript:void(0)"><i class="far fa-trash-alt"></i> Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>