<div class="dashboard_info">
    <ul class="row">
      <li [@bounceIn]="bounceIn" class="info_item1 col-md-3">
        <div>
          <span class="lable_badge"><i class="fas fa-ticket-alt"></i></span>
          <strong>98</strong>
          <p>Pending support tickets</p>
        </div>
      </li>

      <li [@bounceIn]="bounceIn" class="info_item2 col-md-3">
        <div>
          <span class="lable_badge"><i class="fas fa-shopping-cart"></i></span>
          <strong>98</strong>
          <p>Total stock traded today</p>
        </div>
      </li>

      <li [@bounceIn]="bounceIn" class="info_item3 col-md-3">
        <div>
          <span class="lable_badge"><i class="fas fa-globe"></i></span>
          <strong>0</strong>
          <p>Todays market growth</p>
        </div>
      </li>
      <li [@bounceIn]="bounceIn" class="info_item4 col-md-3">
        <div>
          <span class="lable_badge"><i class="fas fa-chart-line"></i></span>
          <strong>0&#8364;</strong>
          <p>Total Transaction Today</p>
        </div>
      </li>
      <li [@bounceIn]="bounceIn" class="info_item5 col-md-3">
        <div>
          <span class="lable_badge"><i class="fas fa-user"></i></span>
          <strong>20</strong>
          <p>Logged in investors</p>
        </div>
      </li>

      <li [@bounceIn]="bounceIn" class="info_item6 col-md-3">
        <div>
          <span class="lable_badge"><i class="fas fa-user"></i></span>
          <strong>20</strong>
          <p>Logged in investors</p>
        </div>
      </li>

      <li [@bounceIn]="bounceIn" class="info_item7 col-md-3">
        <div>
          <span class="lable_badge"><i class="fas fa-user"></i></span>
          <strong>20</strong>
          <p>Logged in investors</p>
        </div>
      </li>

      <li [@bounceIn]="bounceIn" class="info_item8 col-md-3">
        <div>
          <span class="lable_badge"><i class="fas fa-user"></i></span>
          <strong>20</strong>
          <p>Logged in investors</p>
        </div>
      </li>
    </ul>
  </div>
