<section class="add_translation_sec admin_inner_block">
  <h2>{{translateHeading}}</h2>

  <form novalidate class="add_translation_form admin_form" [formGroup]="createTranslationForm" #formDirective="ngForm" (ngSubmit)="createTranslation(formDirective)">

    <div *ngIf="formResponseMsg != ''" class="alert alert-dismissible fade show" [ngClass]="{'alert-success': alertStatusMessage,'alert-danger': !alertStatusMessage}" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{formResponseMsg}}</strong>
    </div>

    <div class="add_translation_formwrap d-flex">
      <div class="form_input_field col-md-4">
        <mat-form-field>
          <mat-select formControlName="idLocale" placeholder="Locale Name*">
            <mat-option matInput *ngFor="let locale of localeList;let i = index;" value="{{locale.id}}">{{locale.localeName}}</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div class="form_input_field col-md-4">
          <mat-form-field>
            <input formControlName="sourceText" matInput placeholder="Source Text*">
            <mat-error *ngIf="createTranslationForm.controls['sourceText'].hasError('required') && createTranslationForm.controls['sourceText'].touched">
              Please Enter Source Text
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form_input_field col-md-4">
          <mat-form-field>
            <input formControlName="translationText" matInput placeholder="Translation Text*">
            <mat-error *ngIf="createTranslationForm.controls['translationText'].hasError('required') && createTranslationForm.controls['translationText'].touched">
              Please Enter Source Text
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form_button_field col-md-12">
          <button mat-raised-button class="col-md-2 form_btn_submit" color="primary" [disabled]="!createTranslationForm.valid">Submit</button>
          <button mat-raised-button (click)="cancelTranslationCreate()" type="reset" class="col-md-2 form_btn_cancel" color="warn">Cancel</button>
        </div>
    </div>

  </form>

  <h2>TRANSLATION LIST</h2>
  
  <div class="admin_table admin_translationcat_list">
    <!-- <hybse-admin-loader *ngIf="showTableLoader"></hybse-admin-loader> -->
    <table>
      <thead>
        <th>S.No</th>
        <th>Locale</th>
        <th>Source Text</th>
        <th>Translation Text</th>
        <th>Action</th>
      </thead>

      <tbody>

        <!-- 
          [{locale:'EN-US', sourceText:'Home', translationText:'Hem'}]
          <tr class="row_loader" *ngIf="showLoader">
          <td colspan="8">
              <hybse-admin-loader></hybse-admin-loader>
          </td>
        </tr> -->
        <tr *ngFor="let translate of allTranslationList;let i = index;">
          <td>{{i+1}}</td>
          <td>{{translate.locale}}</td>
          <td>{{translate.sourceText}}</td>
          <td>{{translate.translationText}}</td>
          <td class="user_actions">
            <a class="user_edit" (click)="updateTranslation(translate)" href="javascript:void(0)"><i class="fas fa-edit"></i> Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>