<section class="edit_users_sec admin_inner_block">
  <div class="comp_tab_wrap">
    <mat-tab-group dynamicHeight>
      <mat-tab label="User Edit">
        <hybse-admin-adduser [userType]="'Investor'" [actionType]="'edit'">

        </hybse-admin-adduser>
      </mat-tab>
      <mat-tab label="User Details">
        <section>
          <div class="admin_table user_detail_tbl">
            <table>
              <tr>
                <td class="tbl_lft">userName </td>
                <td>{{userDetails.userName}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Name </td>
                <td>{{userDetails.firstName + ' ' + userDetails.lastName}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Gender </td>
                <td>{{userDetails.gender}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Date Of Birth </td>
                <td>{{userDetails.dob}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Email </td>
                <td>{{userDetails.emailId}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Telephone </td>
                <td>{{userDetails.telcode}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Mobile </td>
                <td>{{userDetails.mobile}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Address </td>
                <td>{{userDetails.address1 + ' ' + userDetails.address2}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">City </td>
                <td>{{userDetails.city}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Country </td>
                <td>{{userDetails.country}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">zipCode </td>
                <td>{{userDetails.zipCode}}</td>
              </tr>


              <tr>
                <td class="tbl_lft">Nem Address </td>
                <td>{{userDetails.nemAddress}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Silver Verified </td>
                <td>{{userDetails.isSilverVerified == '0' ? 'No' : 'Yes'}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Gold Verified </td>
                <td>{{userDetails.isGoldVerified == '0' ? 'No' : 'Yes'}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Preferred Chart </td>
                <td>{{userDetails.preferredChart}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Locale Name </td>
                <td>{{userDetails.localeName}}</td>
              </tr>
              <tr>
                <td class="tbl_lft">Preferred Theme </td>
                <td>{{userDetails.preferredTheme}}</td>
              </tr>

            </table>
          </div>
        </section>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
