
<section class="admin_user_list admin_inner_block"  [@fadeInDown]="fadeInDown">
  <h2>{{listTitle}}</h2>
  <div class="admin_table admin_user_list">
    <table>
      <thead>
        <th>S.No</th>
        <th>Username</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Active</th>
        <th>Creation Date</th>
        <th>Action</th>
      </thead>

      <tbody>

        <tr class="row_loader" *ngIf="showLoader">
          <td colspan="8">
              <hybse-admin-loader></hybse-admin-loader>
          </td>
        </tr>

        <tr [@fadeInDown]="fadeInDown" *ngFor="let user of userList;let i = index;">
          <td>{{ i + 1 }}</td>
          <td><a (click)="editUser(user.id)" href="javascript:void(0)"> {{ user.userName }} </a></td>
          <td>{{ user.email }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td><mat-slide-toggle [(ngModel)]="user.isActive" (change)="toggleActive(user, $event)" [checked]="user.isActive">{{ user.isActive ? 'Active' : 'InActive' }}</mat-slide-toggle></td>
          <td>{{ user.createdAt | date:'medium' }}</td>
          <td class="user_actions">
            <a class="user_edit" href="javascript:void(0)" (click)="editUser(user.id)"><i class="fas fa-edit"></i> Edit</a>
            <a *ngIf="user.userType != 'Issuer'" class="user_delete" (click)="confirmDelete(user.id)" href="javascript:void(0)"><i class="far fa-trash-alt"></i> Delete</a>
            <a *ngIf="user.userType != 'Admin'" class="user_log" routerLink="/investor/user-logs/{{user.id}}"><i class="far fa-sticky-note"></i> Logs</a>

          </td>
        </tr>
      </tbody>
    </table>


    <!-- <hybse-admin-pagination *ngIf="pageListOriginal.length > pageSize" [listLength]="pageListOriginal.length"
      [paginateArr] = "pageListOriginal"
      [pageSize]="pageSize"
      (paginateItem) = "getPaginateItem($event)">  </hybse-admin-pagination> -->


  </div>
</section>
