

<section class="user_login_body">
  <div class="signup_wrapper">
          <p class="recovery_header">Forgot Password ?</p>
      <div class="signup_sec login_sec">
 
          
          <form [formGroup]="forgotPasswordForm" novalidate action="">
                <div class="legal_info">
                        <p class="forgot_p">Enter your email address and we will send you an email to reset your password</p>
                      </div>
                  <div class="form-group">
                    <label class="formlabel" for="email">Email*:</label> 
                  <i class="fal fa-user material_usr_recovery"></i>
                  <input formControlName="email" type="email" class="form-control lined_input" id="email" placeholder="Please Enter Your Email">
                  <span class="falseclass" *ngIf="forgotPasswordForm.controls['email'].hasError('required') && forgotPasswordForm.controls['email'].touched"> Please enter Email</span>
                  <span class="falseclass" *ngIf="forgotPasswordForm.controls['email'].hasError('emailInvalid')&& forgotPasswordForm.controls['email'].touched ">Enter a valid email address</span>

              </div>

             

              <input type="hidden" formControlName="captchField">
              <div id="html_element"></div>

              <div *ngIf="Mesg != ''" class="alert login_error_msg" [ngClass]="{ 'alert-success':responseSuccess ,'alert-danger': !responseSuccess }" >
                  {{ Mesg}}
              </div>

              <hybse-apploader *ngIf="showLoader"></hybse-apploader>
              <div class="form-group btn_grp">
                    <button (click)="forgotPasswordFormSubmit()" [disabled]="!forgotPasswordForm.valid || disableButton" type="submit" class="btn btn-info issuer-signup">Send Link</button>
                   
                  </div> 
                
             <hr class="login_ender">
             </form>
          <a class="Login_register">Don't have an account.<span routerLink="/registration" class="dotted_link">Register Now!</span></a>
      </div>

  </div>
</section>

<!-- </section> -->


