.mat-dialog-title {
    text-align: center;
}
.mat-dialog-actions {
    justify-content: center;
}
mat-dialog-container {
    position: fixed;
    left: 20%;
    top: 0%;
    background-color: white;
    z-index: 100000;
  }