<!-- <section class="add_menu_sec admin_inner_block">
  <h2>{{sectionTitle}}</h2>
  <div *ngIf="formResponseMsg != ''" class="alert alert-dismissible fade show" [ngClass]="{'alert-success': alertStatusMessage,'alert-danger': !alertStatusMessage}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{formResponseMsg}}</strong>
  </div>
  <form [formGroup]="createLocaleForm" #formDirective="ngForm" (ngSubmit)="createUpdateTranslation(formDirective)" novalidate class="add_locale_form admin_form">

    <div class="form_input_field">
      <mat-form-field>
        <input [errorStateMatcher]="blurMatcher" formControlName="locale_name" matInput placeholder="Locale Name*">
        <mat-error *ngIf="createLocaleForm.controls['locale_name'].hasError('required')">Please Enter Locale Name</mat-error>
      </mat-form-field>
    </div>
    <div class="form_input_field">
      <mat-form-field>
        <input [errorStateMatcher]="blurMatcher" formControlName="language_name" matInput placeholder="Language Name*">
        <mat-error *ngIf="createLocaleForm.controls['language_name'].hasError('required')">Please Enter Language Name</mat-error>
      </mat-form-field>
    </div>
    <div class="form_input_field">
      <mat-form-field>
        <input [errorStateMatcher]="blurMatcher" formControlName="currency_name" matInput placeholder="Currency Name*">
        <mat-error *ngIf="createLocaleForm.controls['currency_name'].hasError('required')">Please Enter Currency Name</mat-error>
      </mat-form-field>
    </div>
    <div class="form_input_field">
      <mat-form-field>
        <input [errorStateMatcher]="blurMatcher" formControlName="currency_symbol" matInput placeholder="Currency Symbol*">
        <mat-error *ngIf="createLocaleForm.controls['currency_symbol'].hasError('required')">Please Enter Currency Symbol</mat-error>
      </mat-form-field>
    </div>
    <div class="form_input_field">
      <mat-form-field>
        <mat-select formControlName="symbol_position" placeholder="Symbol Position*">
          <mat-option value="Prefix">Prefix</mat-option>
          <mat-option value="Suffix">Suffix</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form_input_field">
      <mat-form-field>
        <input [errorStateMatcher]="blurMatcher" formControlName="number_format" matInput placeholder="Number Format*">
        <mat-error *ngIf="createLocaleForm.controls['number_format'].hasError('required')">Please Enter Number Format</mat-error>
      </mat-form-field>
    </div>

    <div class="form_button_field">
      <button mat-raised-button [disabled]="!createLocaleForm.valid" class="form_btn_submit" color="primary">Submit</button>
      <button mat-raised-button (click)="cancelLocaleCreate()" class="form_btn_cancel" color="warn">Cancel</button>
    </div>


  </form>
  </section> -->
