<section class="add_page_sec admin_inner_block">


  <hybse-admin-loader *ngIf="showLoader"></hybse-admin-loader>


  <h2>ADD/EDIT PAGES</h2>


  <div *ngIf="formResponseMsg != ''" class="alert alert-dismissible fade show" [ngClass]="{'alert-success': alertStatusMessage,'alert-danger': !alertStatusMessage}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{formResponseMsg}}</strong>
  </div>


  <form [formGroup]="createPageForm" (ngSubmit)="createUpdatePage()" novalidate class="add_page_form admin_form">

    <div class="form_input_field">
      <mat-form-field>
        <input [errorStateMatcher]="blurMatcher" (blur)="setAliasInput()" matInput formControlName="page_title" placeholder="Title*">
        <mat-error *ngIf="createPageForm.controls['page_title'].hasError('required') && createPageForm.controls['page_title'].touched">
          Please Enter Page Title
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form_input_field">
      <mat-form-field>
        <input [errorStateMatcher]="blurMatcher" matInput formControlName="page_alias" placeholder="Alias*">
        <mat-error *ngIf="createPageForm.controls['page_title'].hasError('required') && createPageForm.controls['page_title'].touched">
            Please Enter Page Alias
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form_input_field">
      <mat-form-field>
        <mat-select [errorStateMatcher]="blurMatcher" formControlName="page_cat" placeholder="Page Category*">
          <mat-option>Category</mat-option>
          <mat-option value="{{cat.id}}" *ngFor="let cat of pageCatList;let i = index;">{{cat.categoryName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="createPageForm.controls['page_cat'].hasError('required') && createPageForm.controls['page_cat'].touched">
          Please select a Category
        </mat-error>
      </mat-form-field>
    </div>

    <div class="page_content_editor">
      <h4>Page Content</h4>
      <mat-tab-group dynamicHeight (selectedTabChange)="onTabSwitch($event)">
          <mat-tab label="English">
            <div class="tab-content page-tab-content">
              <textarea formControlName="page_content_en" name="engContent" id="engContent" cols="30" rows="10"></textarea>
              <span class="input_error" *ngIf="editorStatus.engEditor">Please Enter Page Content</span>
            </div>
          </mat-tab>
          <mat-tab label="German">
            <div class="tab-content page-tab-content">
              <textarea formControlName="page_content_german" name="germanContent" id="germanContent" cols="30" rows="10"></textarea>
            </div>
          </mat-tab>
        </mat-tab-group>
    </div>


    <div class="page_meta_details" [formGroup]="createPageForm.controls['page_meta_grp']">
      <mat-card>
        <h2>Meta Information</h2>
        <div class="form_input_field">
          <mat-form-field>
            <input formControlName="meta_title" matInput placeholder="Meta Title">
            <mat-error></mat-error>
          </mat-form-field>
        </div>
        <div class="form_input_field">
          <mat-form-field>
            <input formControlName="meta_keys" matInput placeholder="Meta Keyword">
            <mat-error></mat-error>
          </mat-form-field>
        </div>
        <div class="form_input_field">
          <mat-form-field>
            <textarea formControlName="meta_description" matInput placeholder="Meta Description"></textarea>
            <mat-error></mat-error>
          </mat-form-field>
        </div>
      </mat-card>
    </div>

    <div class="form_button_field">
      <button mat-raised-button [disabled]="!createPageForm.valid" class="form_btn_submit" color="primary">Submit</button>
      <button mat-raised-button (click)="cancelPageCreate()" class="form_btn_cancel" color="warn">Cancel</button>
    </div>

  </form>
</section>
