
<section class="admin_user_list admin_inner_block"  [@fadeInDown]="fadeInDown">
  <h2>Page Category Lists</h2>
  <div class="admin_table admin_user_list">
    <table>
      <thead>
        <th>S.No</th>
        <th>Category Title</th>
        <th>Category Alias</th>
        <th>Created On</th>
        <th>Action</th>
      </thead>

      <tbody>

        <tr class="row_loader" *ngIf="showLoader">
          <td colspan="8">
              <hybse-admin-loader></hybse-admin-loader>
          </td>
        </tr>

        <tr [@fadeInDown]="fadeInDown" *ngFor="let cat of pageCatList;let i = index;">
          <td>{{i + 1}}</td>
          <td>{{cat.categoryName}} </td>
          <td>{{cat.alias}} </td>
          <td>{{cat.createdAt | date:'medium' }} </td>
          <td class="user_actions">
            <a class="user_edit" [routerLink]="['/page-category/update', cat.idContentCategory ]"  href="javascript:void(0)"><i class="fas fa-edit"></i> Edit</a>
            <!-- <a class="user_preview" href="javascript:void(0)"><i class="fas fa-eye"></i> Preview</a> -->
            <a class="user_delete" (click)="confirmDelete(cat.idContentCategory)" href="javascript:void(0)"><i class="far fa-trash-alt"></i> Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
